In [7]:
import glob
import pandas as pd
from datetime import datetime
import json

In [2]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-08-21 14:31:18--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: 'bank_market_cap_1.json'

     0K ..                                                    100%  548M=0s

2023-08-21 14:31:20 (548 MB/s) - 'bank_market_cap_1.json' saved [2815/2815]

--2023-08-21 14:31:20--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: 'bank_market_cap_2.json'

     0K .                                                     100%  235M=0s

2023-08-21 14:31:21 (235 MB/s) - 'bank_market_cap_2.json' saved [1429/1429]

--2023-08-21 14:31:21--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: 'exchange_rates.csv'

     0K                                                       100% 67.0M=0s

2023-08-21 14:31:23 (67.0 MB/s) - 'exchange_rates.csv' saved [590/590]

In [3]:
def read_from_json(d):
    data = pd.read_json(d)
    return data

In [4]:
def extract():
    data_store_list = []

    for jsonfile in glob.glob("*.json"):
        data_store_list.append(read_from_json(jsonfile))
    df = pd.concat(data_store_list, ignore_index=True)
    return df

In [5]:
er = pd.read_csv("exchange_rates.csv", index_col=0)
rate_data = er.loc["GBP", "Rates"]
print("The Data Is : ", rate_data)
er.head()

The Data Is :  0.7323984208000001

        Rates
AUD  1.297088
BGN  1.608653
BRL  5.409196
CAD  1.271426
CHF  0.886083

In [16]:
def transform(file):
    file["Market Cap (US$ Billion)"] = round(0.75 * file["Market Cap (US$ Billion)"], 3)
    file.rename(columns = {"Market Cap (US$ Billion)": "Market Cap (GBP Billion)"}, inplace = True)
    return file

In [8]:
def log(message):
    timestamp_format = '%d-%h-%Y-%H:%M:%S'
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt", "a") as f:
        f.write(message + "   " + timestamp + "\n\n")

In [9]:
def load(F):
    F.to_csv("transformed_data.csv")

In [10]:
log("ETL Process Started")

log("Extract Phase Started")

In [13]:
extr = extract()
extr.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [ ]:
log("Extract Phase Ended")

In [14]:
log("Transform Phase Started")

In [17]:
trns = transform(extr)
trns.head()

                                      Name  Market Cap (GBP Billion)
0                           JPMorgan Chase                   219.901
1  Industrial and Commercial Bank of China                   194.182
2                          Bank of America                   182.998
3                              Wells Fargo                   173.258
4                  China Construction Bank                   144.787

In [18]:
log("Transform Phase Ended")

In [19]:
log("Load Phase Started")

In [20]:
load(trns)

In [21]:
log("Load Phase Ended")