In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('INSTRUCTOR.db')

Cursor class is an instance using which you can invoke methods that execute SQLite statements, fetch data from the result sets of the queries. You can create Cursor object using the cursor() method of the Connection object/class.

In [3]:
cursor_obj = conn.cursor()

In [4]:
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [5]:
## Creating the table

table = """ create table IF NOT EXISTS 
            INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), 
                CITY VARCHAR(20), CCODE CHAR(2));"""
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

In [6]:
## Inserting the values into the table
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

In [7]:
cursor_obj.execute('''insert into INSTRUCTOR values 
                   (2, 'Raul', 'Chong', 'Markham', 'CA'), 
                   (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

In [10]:
## Fetching all the data

statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data: ")
output_all = cursor_obj.fetchall()
for r in output_all:
    print(r)

All the data:
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [11]:
## Fetching few rows

statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data: ")
output_all = cursor_obj.fetchmany(2)
for r in output_all:
    print(r)

All the data:
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [15]:
## Updating

query_update = '''update INSTRUCTOR set City = 'MOOSETown' where FNAME = "Rav"'''
cursor_obj.execute(query_update)

In [16]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data: ")
output_all = cursor_obj.fetchall()
for r in output_all:
    print(r)

All the data:
(1, 'Rav', 'Ahuja', 'MOOSETown', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

### Retrieve Data into pandas

In [17]:
import pandas as pd
df = pd.read_sql_query("select * from INSTRUCTOR;", conn)

In [18]:
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETown    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [20]:
df.shape

(3, 5)

##### Closing Connection

In [21]:
conn.close()