In [1]:
import glob
import pandas as pd
from datetime import datetime

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-08-19 14:42:07--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: 'bank_market_cap_1.json'

     0K ..                                                    100%  323M=0s

2023-08-19 14:42:09 (323 MB/s) - 'bank_market_cap_1.json' saved [2815/2815]

--2023-08-19 14:42:09--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: 'bank_market_cap_2.json'

     0K .                                                     100%  136M=0s

2023-08-19 14:42:11 (136 MB/s) - 'bank_market_cap_2.json' saved [1429/1429]

--2023-08-19 14:42:11--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: 'exchange_rates.csv'

     0K                                                       100% 57.4M=0s

2023-08-19 14:42:13 (57.4 MB/s) - 'exchange_rates.csv' saved [590/590]

In [3]:
# Define a function to read json and store it in a dataframe
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [4]:
# Preview the bank market cap 1 file

jsonfile1 = pd.read_json("bank_market_cap_1.json")
jsonfile1.head(3)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331

In [5]:
# Get shape of jsonfile1
jsonfile1.shape

(70, 2)

In [6]:
# Preview the bank market cap 2 file

jsonfile2 = pd.read_json("bank_market_cap_2.json")
jsonfile2.head(3)

                               Name  Market Cap (US$ Billion)
35  Banco Bilbao Vizcaya Argentaria                    60.678
36                  Japan Post Bank                    60.525
37      The Bank of New York Mellon                    59.823

In [7]:
# Get shape of jsonfile1
jsonfile2.shape

(35, 2)

In [8]:
# Column names for the dataframe
columns = ["Name", "Market Cap (US$ Billion)"]

def extract():
    """Find json files, extract the files, and store data in pandas dataframe"""
    # Write your code here
    extracted_data = pd.DataFrame(columns = columns)

    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index = True)
    
    return extracted_data

In [9]:
# Preview extracted_data

preview_extracted_json = extract()
preview_extracted_json

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
# Test and preview csv file

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv"

dataframe = pd.read_csv(url, index_col = 0)
dataframe.head(10)

         Rates
AUD   1.297088
BGN   1.608653
BRL   5.409196
CAD   1.271426
CHF   0.886083
CNY   6.483139
CZK  21.510117
DKK   6.119757
EUR   0.822504
GBP   0.732398

In [ ]:
def read_csv(file_to_process):
    """Method to read csv file"""
    dataframe = pd.read_csv(file_to_process, index_col = 0)
    return dataframe

def extract_csv():
    """Method to extract csv file"""
    for csvfile in glob.glob("*.csv"):
        extracted_csv_data = pd.DataFrame(read_csv(csvfile))
        
    return extracted_csv_data

In [ ]:
# Preview dataframe from csv file

preview_extracted_csv = extract_csv().head(10)
preview_extracted_csv

         Rates
AUD   1.297088
BGN   1.608653
BRL   5.409196
CAD   1.271426
CHF   0.886083
CNY   6.483139
CZK  21.510117
DKK   6.119757
EUR   0.822504
GBP   0.732398

In [ ]:
# Get GBP rate and convert to float

exchange_rate = float(preview_extracted_csv.loc["GBP"])
exchange_rate

0.7323984208000001

In [ ]:
def transform(data):
    """Convert Market Cap from USD to GBP"""
    
    # Convert USD to GBP and round to 3 decimal places
    data["Market Cap (US$ Billion)"] = round(data["Market Cap (US$ Billion)"] * exchange_rate, 3)
    # Other solution - creating a new column and drop the existing column
    # data["Market Cap (GBP$ Billion)"] = round(data["Market Cap (US$ Billion)"] * exchange_rate, 3)
    # data = data.drop("Market Cap (US$ Billion)", axis = 1, inplace = True)
    
    # Rename Columns
    data.rename(columns = {"Name": "Name", "Market Cap (US$ Billion)": "Market Cap (GBP$ Billion)"}, inplace = True, errors = "raised")
    
    return data

In [ ]:
# Preview transformed data

preview_transform = transform(preview_extracted_json)
preview_transform.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [ ]:
# Assign a filename for csv
filename = "bank_market_cap_gbp.csv"

def load(filename, data):
    """Takes a dataframe and save it to csv file named, bank_market_cap_gbp.csv"""
    data.to_csv(filename, index = False)

In [ ]:
# Assign a filename for log text
logfilename = "bmc_log.txt"

def log(message):
    """Method for logging function"""
    
    # Timestamp format
    timestamp = datetime.now().strftime("Date: %h %d, %Y - Time: %H:%M:%S")
    
    # Append log text
    with open(logfilename, "a") as txtfile:
        txtfile.write(f"{timestamp} --> {message}.\n")

In [ ]:
# Running the ETL Process

# Log the process to text file
log("ETL Job Started")
log("Extract Phase Started")

In [ ]:
# Call the function extract
extractedData = extract()

# Print the first five rows
extractedData.head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [ ]:
# Log the process to text file
log("Extract Phase Ended")

In [ ]:
# Log the process to text file
log("Transform Phase Started")

In [ ]:
# Call the function transform
transformedData = transform(extractedData)

# Print the first five rows
transformedData.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [ ]:
# Log the process to text file
log("Transform Phase Ended")

In [ ]:
# Log the process to text file
log("Load Phase Started")

In [ ]:
# Call the load function
load(filename, transformedData)

In [ ]:
log("Load Phase Ended")