In [1]:
import mysql.connector

In [2]:
connection = mysql.connector.connect(
    user = 'root',
    password = 'aW@nN2001',
    host = '127.0.0.1',
    database = 'salesp'
)

In [3]:
cursor = connection.cursor()

In [4]:
SQL = """CREATE TABLE IF NOT EXISTS products(

rowid int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
product varchar(255) NOT NULL,
category varchar(255) NOT NULL

)"""

In [5]:
cursor.execute(SQL)

In [6]:
print("Table created")

Table created

In [7]:
# insert data

SQL = """INSERT INTO products(product,category)
	 VALUES
	 ("Television","Electronics"),
	 ("Laptop","Electronics"),
	 ("Mobile","Electronics")
	 """

cursor.execute(SQL)
connection.commit()

In [8]:
## Query data

SQL = "SELECT * FROM products"

cursor.execute(SQL)

In [9]:
for row in cursor.fetchall():
    print(row)

(1, 'Television', 'Electronics')
(2, 'Laptop', 'Electronics')
(3, 'Mobile', 'Electronics')

In [10]:
cursor.close()

True